<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <script src="../js/gallery.js" defer ></script>
</head>
<body>
    <header>
        <div class="logo">ARTE VERTICAL</div>
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./galeria.html" class="active">Galería</a></li>
                <li><a href="./presupuesto.html">Presupuesto</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="gallery">
            <h1>Galería de productos</h1>
            <div id="gallery" class="gallery-container"></div>
            <!-- Las imágenes se cargarán automáticamente aquí -->
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <p>Dirección: Calle General Elorza 67, Oviedo, España</p>
            <div class="social-media">
                <a href="#"><img src="../images/png-clipart-facebook-logo-computer-icons-facebook-logo-facebook-thumbnail.png" alt="Facebook"></a>
                <a href="#"><img src="../images/twitter-vector-logo-logotipo-vector-redes-sociales_901408-401.avif" alt="Twitter"></a>
                <a href="#"><img src="../images/icono-logotipo-vector-instagram-logotipo-redes-sociales_901408-395.avif" alt="Instagram"></a>
            </div>
            <p>Aviso legal: Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>
